.esri-popup__main-container {
  /*background: red;*/
}

.esri-view-width-medium .esri-popup__main-container {
  display: flex;
}

.esri-ui .esri-popup {
  margin-bottom: 32px;
}

.esri-popup__header {
  /*background: orange;*/
  display: block;
}

.esri-popup__header-container {
  /*background: cyan;*/
  padding-right: 6px;
}

.esri-popup__header-title {
  /*background: pink;*/
  padding-top: 7px; 
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

div#my-attribution {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(255,255,255,0.8);
  z-index: 5000;
}